{% extends 'meetme_app/layout.html' %}

{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Open Meet Me</h1>
    <p class="lead">Register, list attendees to an event and ask to meet them, we'll take care of when and where</p>
    <h2>Available events</h2>
    {% for event in events %}
    <div class="card">
      <div class="card-body d-flex">
        <div class="me-auto">
          <h3 class="card-title">{{event.name}}</h3>
          <p class="card-text">{{event.date}}</p>
        </div>
        <div class="ms-auto align-self-center">
          <button type="button" class="btn btn-success d-flex align-self-center">Register</button>
        </div>

      </div>
    </div>
    {% endfor %}

  </div>
</main>
{% endblock %}